header {
	position: relative;
	width: 100%;
	height: 8.8rem;
	padding: 0 8rem;
	background: url('../../assets/image/bg-header.png') center no-repeat;
	background-size: cover !important;

	.header-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		height: 7rem;

		.logo {
			a {
				display: flex;
				align-items: center;
				justify-content: space-between;
				.logo-text {
					margin-left: 1rem;
				}
			}
			img {
				display: block;
				margin: 0 auto;
				perspective: 1000px;
				transform-style: preserve-3d;
				animation: flip 4s infinite;
			}

			@media (max-width: 600px) {
				position: absolute;
				left: 50%;
				transform: translateX(-50%);
			}
		}

		.menu {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 10rem;
			position: absolute;
			left: 50%;
			transform: translateX(calc(-50% + 10px));

			a {
				position: relative;
				font-size: 2rem;
				color: #fff;
				text-transform: uppercase;
				font-weight: 500;
				svg {
					position: absolute;
					display: block;
					content: '';
					top: -2.2rem;
					left: 50%;
					transform: translateX(-50%);
					opacity: 0;
					visibility: hidden;
					transition: all 0.5s ease-in-out;

					@media (max-width: 1279px) {
						top: 50%;
						left: -4rem;
						transform: translateY(-50%);
					}
				}
				&:hover,
				&:focus {
					color: var(--primary-color);
					font-weight: 700;
					text-shadow: 0px 0px 8px rgba(255, 212, 0, 0.80);
					svg {
						opacity: 1;
						visibility: visible;
					}
				}
			}
			.menu-item.menu-home {
				transform: translateY(1rem);
			}
			a.active {
				color: var(--primary-color);
				font-weight: 700;
				text-shadow: 0px 0px 8px rgba(255, 212, 0, 0.80);
				svg {
					opacity: 1;
					visibility: visible;
				}
			}

			.close-menu {
				display: none;

				@media (max-width: 1279px) {
					display: block;
					position: absolute;
					top: 2rem;
					right: 2rem;
					background-color: transparent;
					transform: rotate(180deg);
				}
			}

			@media (max-width: 1279px) {
				position: fixed;
				top: 0;
				right: 0;
				left: auto;
				width: 30rem;
				height: 100vh;
				background-color: #0A0401;
				flex-direction: column;
				gap: 5rem;
				justify-content: flex-start;
				padding: 10rem 5rem;
				align-items: flex-start;
				background-size: cover !important;
				z-index: 100;
				transition: all 0.5s ease-in-out;
				
				&.close-menu {
					transform: translateX(100%);
				}
				&.open-menu {
					transform: translateX(0);
				}

				.menu-home {
					order: 1;
				}
				.menu-docs {
					order: 2;
				}
				.menu-blog {
					order: 3;
				}
				.menu-pricing {
					order: 4;
				}
				.menu-services {
					order: 5;
				}
			}
		}

		.off-canvas {
			opacity: 0;
			visibility: hidden;

			@media (max-width: 1279px) {
				opacity: 1;
				visibility: visible;
			}
		}

		@media (max-width: 600px) {
			justify-content: end;
		}
	}

	@media (max-width: 600px) {
		padding: 0 2rem;
		z-index: 1;
	}
}

$loading-background: url('../../assets/image/bg-menu-mobile.jpg');
$primary-color: #f0a500;
$text-color: #fff;
$bar-original-color: #976308;
$bar-new-color: #FFD081;
$animation-duration: 3s; // Total duration of the loading process (1 second per bar)

.wrap-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: $loading-background center no-repeat;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease-out, visibility 1s ease-out;

  &.hidden {
    opacity: 0;
    visibility: hidden;
  }

  .loading-container {
    position: relative;
    text-align: center;

    img {
      width: 14.8rem;
      height: auto;
	  animation: translateY $animation-duration infinite;
    }
  }

  .loading-bar {
    display: flex;
    gap: 4px;
    margin-top: 20px;

    .bar-item {
      width: 15px;
      height: 15px;
      background-color: $bar-original-color;

	  &.active {
		background-color: $bar-new-color;
	  }
    }
  }

  h3.loading-text {
    color: $text-color;
    margin-top: 2rem;
    font-size: 1.2rem;
    text-align: center;
    text-transform: uppercase;
  }
}

@keyframes translateY {
  0% {
	transform: translateY(-1rem);
  }
  50% {
	transform: translateY(1rem);
  }
  100% {
	transform: translateY(-1rem);
  }
}

#main-content {
  display: none;
  opacity: 0;
  transition: opacity 1s ease-out;

  &.visible {
    display: block;
    opacity: 1;
  }
}

  